[Unit]
Description=Redshift display colour temperature adjustment
Documentation=http://jonls.dk/redshift/

[Service]
ExecStart=/usr/bin/redshift -m wayland
Restart=always

[Install]
WantedBy=default.target
